*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* background: black; */
}
body{
    background-color: rgba(41, 41, 41, 0.897);
}

/* MAQUETACION */

.logo{
    height: 50px;
    background: black;
    width: 100%;
    color: rgb(177, 115, 1);
}
    .logo h1{
        text-align: center;
        color: rgb(177, 115, 1);
    }

.nav-slash{
    height: 35px;
    background: black;
    width: 100%;
    border-bottom: #8f5454 solid 1px;
    border-top: 1px solid #8f5454;
}
    .nav-contacto{
        color: rgb(177, 115, 1);
        text-align: center;
        font-size: 23px;
    }

.card {
    color: rgb(177, 115, 1);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
    .cards{
        height: 350px;
        width: 30%;
        background: black;
        margin: 10px 20px;
        border-radius: 10px;
        color: rgb(177, 115, 1);
        box-shadow: 5px 0px 10px 0px  rgb(177, 115, 1);
        transition-property: box-shadow;
        transition-duration: 1s;
    }
        .cards:hover{
            box-shadow: 0px 0px 10px 5px  #8f5454;
        }
        .card-content{
            /* background: red; */
            border-radius: 15px 15px 0 0;
            color: rgb(177, 115, 1);
        }
            .card-content h2{
                position: relative;
                top: -150px;
                background: rgba(0, 0, 0, 0.479);
                /* height: 30px; */
                padding: 10px 10px;
                color: rgb(177, 115, 1);
                
            }
            .card-content p{
                position: relative;
                top: -40px;
                color: rgb(177, 115, 1);

            }
        .img-modify{
            height: 270px;
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
      
.info{
    background: black;
    margin: 0px 100px;
    margin-top: 20px;
    padding: 20px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px  rgb(177, 115, 1);
    transition-property: box-shadow;
    transition-duration: 2s;
} 
    .info:hover{
        box-shadow: 3px 3px 5px 0px  #8f5454;
    }       
    .info h2{
        text-align: center;
        margin-bottom: 10px;
        color: rgb(177, 115, 1);
    }
    .info p{
        text-align: center;
        color: rgb(177, 115, 1);
    }
    

.location{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 10px;
    color: rgb(177, 115, 1); 
    
}
    .card-location{
        border-radius:  10px;
        height: 250px;
        margin: 0 auto;
        width: 450px;
        background: black;
        color: rgb(177, 115, 1);
        
    }
    .card-location a{text-decoration: none;}
    .contact-diva{
        margin: 50px 30px 0px 30px;
    }
    .contact-divb{
        margin: 40px 20px 0px 20px;
    }

        .wsp{
            text-align: center;
            color: #b17301;
            display: flex;
        }
            .wsp .fa-whatsapp{
                font-size: 20px;
                margin-right: 10px;
            }
            .wsp a{
                font-size: 25px;
                color: rgb(177, 115, 1);
            }
        
            .location .fa-business-time{
                font-size: 20px;
            }
            
            .location ul{
                list-style: none;
                padding: 0;
                text-align: center;
                margin-top: 10px;
                font-size: 18px;
            }
                .numero-cel{
                    margin-top: 5px;
                    font-size: 20px;
                }

                .contacto-wsp{
                    font-size: 18px;
                    text-decoration: none;   
                    background:  #7070708f;
                    padding: 8px;
                    margin-top: 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: color box-shadow background border borde-radius;
                    transition-duration: 1.2s;
                }
                    .contacto-wsp:hover{
                        color: #ffa600;
                        border: 1px solid #b17301;
                        background:  #4b2d2d;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px 1px #b17301;
                    }   


        .ubicacion{
            text-align: center;
            margin-bottom: 35px;
        }
            .fa-map-location{
                font-size: 20px;
            }
            .img-google-map{
                margin-top: 0px;
                height: 200px;
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                transition-property: box-shadow height;
                transition-duration: 1.5s;
            }
            .img-google-map:hover{
             box-shadow: 0px 0px 5px 2px  rgb(177, 115, 1);
             height: 250px;   
             border-radius: 10px 10px 10px 10px;
            }
            .dire-location{
            margin-top: 10px;
            font-size: 25px;
            }

.cerrar{
    background: #925151c9;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}
.cerrar:hover{
    background: black;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
}

form{
    display: none;
    background: #0000001c;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    
}
.contact-style{
        display: flex;
        flex-direction: column;
        text-align: center;   
        padding: 10px 10px;
        background: rgb(0, 0, 0);
        width: 50%;
        margin: 2px auto;
        border-radius: 10px;
}
    .form-text{
        background: black;
        padding: 3px;
        border-radius: 8px;
        margin: 0px  auto;
        width: 30%;
        color: rgb(255, 166, 0);
        border: rgb(196, 127, 0) 1px solid;
    }
    .form-data{
        margin: 2px auto;
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px black solid;
        transition: 1s height;
    }
    .form-data:hover{
        height: 30px;
    }
    .consulta{
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 2px auto;

    }
    .btn-envio{
        width: 10%;
        margin: 5px auto;
        background: black;
        border: 1px solid rgb(196, 127, 0);
        color: rgb(255, 166, 0);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-envio:hover{
        background: #8f5454; 
        color: black;
    }


    
.cerrar{
    background: #925151c9;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    color: #ffa600;
    transition:background color border ;
    transition-duration: 2s;
    
}
.cerrar:hover{
    background: red;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
}

form{
    display: none;
    background: #000000a4;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    
}
.contact-style{
        display: flex;
        flex-direction: column;
        text-align: center;   
        padding: 10px 10px;
        background: rgb(0, 0, 0);
        width: 50%;
        margin: 55px auto;
        border-radius: 10px;
        box-shadow: #ffa600 0px 0px 5px 0px;
}
    .form-text{
        background: black;
        padding: 3px;
        border-radius: 8px;
        margin: 0px  auto;
        width: 30%;
        color: rgb(255, 166, 0);
        border: rgb(196, 127, 0) 1px solid;
    }
    .form-data{
        margin: 2px auto;
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px black solid;
        transition: 1s height;
    }
    .form-data:hover{
        height: 30px;
    }
    .consulta{
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 2px auto;

    }
    .btn-envio{
        width: 10%;
        margin: 5px auto;
        background: black;
        border: 1px solid rgb(196, 127, 0);
        color: rgb(255, 166, 0);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-envio:hover{
        background: #8f5454; 
        color: black;
    }

            
footer{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}
.footer-center{
    display: flex;
    text-align: center;
    margin: 0px auto;
}
    footer p{
        padding-left: 50px;
    }
footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: rgb(255, 174, 0);
}