*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: rgb(73, 70, 58);
}

/* MAQUETACION */

.logo{
    height: 50px;
    background: black;
    width: 100%;
    color: #ffa600;
}
    .logo h1{
        text-align: center;
        color: #ffa600;
    }

.nav-slash{
    height: 35px;
    background: black;
    width: 100%;
    border-bottom: #919191 solid 1px;
    border-top: 1px solid #919191;
    text-align: center;
    padding: 15px 5px 10px 5px ;
}
    .nav-contacto{
        background: #292929e5;
        color: #ffa600;
        text-align: center;
        font-size: 23px;
        cursor: pointer;
        transition: color, background, border-radius, border;
        transition-duration: 0.5s;
        width: 15%;
        margin: 2.5px auto;
        text-align: center;
    }
    .nav-contacto:hover{
        color: #ffa600;
        background: #4b2d2d;
        border-radius: 10px;
        border: 0.1px #ffa600a4 solid;
    }
    .nav-slash a{
        margin: 10px auto;
    }

    .email-contac{  
        text-decoration: none;
        color: #ffa600;
        font-size: 25px;
        padding: 5px 10px;
        
    }
        .email-contac:hover{
            border: 1px solid #ffa600;
            background: #4b2d2d;
            border-radius: 5px;
            transition: border, background, border-radius, 1.2s;
        }

   

.card {
    color: #ffa600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
    .cards{
        height: 350px;
        width: 30%;
        background: black;
        margin: 10px 20px;
        border-radius: 10px;
        color: #ffa600;
        box-shadow: 0px 0px 3px 0px  rgb(177, 115, 1);
        transition-property: box-shadow;
        transition-duration: 1s;
    }
        .cards:hover{
            box-shadow: 0px 0px 5px 3px  ;
        }
        .card-content{
            border-radius: 15px 15px 0 0;
            color: #ffa600;
        }
            .card-content h2{
                position: relative;
                top: -150px;
                background: rgba(0, 0, 0, 0.479);
                padding: 10px 10px;
                color: #ffa600;
                
            }
            .card-content p{
                position: relative;
                top: -40px;
                color: #ffa600;

            }
        .img-modify{
            height: 270px;
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
      

       
.info{
    background: black;
    margin: 0px 100px;
    margin-top: 20px;
    padding: 20px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px  rgb(177, 115, 1);
    transition-property: box-shadow;
    transition-duration: 2s;
} 
    .info:hover{
        box-shadow: 0px 3px 5px 0px rgb(177, 115, 1);
    }       
    .info h2{
        text-align: center;
        margin-bottom: 10px;
        color: #ffa600;
    }
    .info p{
        text-align: center;
        color: #ffa600;
    }

  

.location{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #ffa600;
    
}
    .card-location{
        border-radius:  10px;
        height: 300px;
        margin: 0 auto;
        width: 600px;
        background: black;
        color: #ffa600;
        
    }
    .card-location a{text-decoration: none;}
    .contact-diva{
        margin: auto;
    }
    .contact-divb{
        margin: auto;
    }
    .horarios{
        font-size: 19px;
        line-height: auto;
    }


        .wsp{
            text-align: center;
            color: #ffa600;
            display: flex;
        }
            .wsp .fa-whatsapp{
                font-size: 20px;
                margin-right: 10px;
            }
            .wsp a{
                font-size: 25px;
                color: rgb(177, 115, 1);
            }
        
            .location .fa-business-time{
                font-size: 20px;
            }
            
            .location ul{
                list-style: none;
                padding: 0;
                text-align: center;
                margin-top: 10px;
                font-size: 18px;
            }
                .numero-cel{
                    margin-top: 5px;
                    font-size: 20px;
                }

                .contacto-wsp{
                    font-size: 18px;
                    text-decoration: none;   
                    background:  #7070708f;
                    padding: 8px;
                    margin-top: 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: color box-shadow background border borde-radius;
                    transition-duration: 1.2s;
                }
                    .contacto-wsp:hover{
                        color: #ffa600;
                        border: 1px solid #b17301;
                        border-radius: 10px;
                    }   


        .ubicacion{
            text-align: center;
            margin-bottom: 35px;
        }
            .fa-map-location{
                font-size: 20px;
            }
            .img-google-map{
                margin-top: 18px;
                height: 235px;
                width: 85%;
                border-radius: 10px;
                transition-property: box-shadow height;
                transition-duration: 0.8s;
            }
            .img-google-map:hover{
             box-shadow: 0px 0px 5px 4px  rgb(177, 115, 1);
            }
            .dire-location{
            margin: auto;
            font-size: 25px;
            }

.cerrar{
    background: #925151c9;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}
.cerrar:hover{
    background: black;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
}

form{
    display: none;
    background: #0000001c;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    
}
.contact-style{
        display: flex;
        flex-direction: column;
        text-align: center;   
        padding: 10px 10px;
        background: rgb(0, 0, 0);
        width: 50%;
        margin: 2px auto;
        border-radius: 10px;
}
    .form-text{
        background: black;
        padding: 3px;
        border-radius: 8px;
        margin: 0px  auto;
        width: 30%;
        color: rgb(255, 166, 0);
        border: rgb(196, 127, 0) 1px solid;
    }
    .form-data{
        margin: 2px auto;
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px black solid;
        transition: 1s height;
    }
    .form-data:hover{
        height: 30px;
    }
    .consulta{
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 2px auto;

    }
    .btn-envio{
        width: 10%;
        margin: 5px auto;
        background: black;
        border: 1px solid rgb(196, 127, 0);
        color: rgb(255, 166, 0);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-envio:hover{
        background: #8f5454; 
        color: black;
    }


    
.cerrar{
    background: #925151c9;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    color: #ffa600;
    transition:background, color, border ;
    transition-duration: 2s;
    
}
.cerrar:hover{
    background: rgba(255, 0, 0, 0.795);
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
}

form{
    display: none;
    background: #000000a4;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    
}
.contact-style{
        display: flex;
        flex-direction: column;
        text-align: center;   
        padding: 10px 10px;
        background: rgb(0, 0, 0);
        width: 50%;
        margin: 55px auto;
        border-radius: 10px;
        box-shadow: #ffa600 0px 0px 5px 0px;
}
    .form-text{
        background: black;
        padding: 3px;
        border-radius: 8px;
        margin: 0px  auto;
        width: 30%;
        color: rgb(255, 166, 0);
        border: rgb(196, 127, 0) 1px solid;
    }
    .form-data{
        margin: 2px auto;
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px black solid;
        transition: 1s height;
    }
    .form-data:hover{
        height: 30px;
    }
    .consulta{
        height: 20px;
        width: 28%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 2px auto;
        transition:  height, width;
        transition-duration: 1s;

    }
    .consulta:hover{
        height: 25px;
        width: 50%;
    }
    .btn-envio{
        width: 10%;
        margin: 5px auto;
        background: black;
        border: 1px solid rgb(196, 127, 0);
        color: rgb(255, 166, 0);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-envio:hover{
        background: #8f5454; 
        color: black;
    }

            
footer{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 100%;
    background: rgba(0, 0, 0, 0.877);
    color: white;
    text-align: center;
    border-top: #b17301 1px solid;
}
.footer-center{
    display: flex;
    text-align: center;
    margin: 0px auto;
}
    footer p{
        padding-left: 50px;
    }
footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: rgb(255, 174, 0);
}



 /* RESOLUCION CARD MEDIA 1080 */

 @media screen and (max-width: 1200px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80%;
    }
    .cards{
        margin: 10px 0px;
        width: 80%;
        height: auto;
    }
    .ubicacion{ 
        margin-top: 25px;
    
}
 }

 @media screen and (max-width: 899px){
 
    .ubicacion{
        
            margin-top: 25px;
        
    }
}


/* RESOLUCION CARD MEDIA 679px */
@media screen and (max-width:679px){
    
    .nav-contacto{
        width: 60%;
    }

    .ubicacion{
        margin-top: 25px;
    }
    .cards{
        margin: 10px 0px;
        width: 85%;
        height: auto;
    }
}
/* FINALIZA RESPONSIVE 679px */ 
@media  screen and (max-width:600px){
    .contact-divb{
        margin: 0px;
    }

    .cards{
        margin: 10px 0px;
        width: 90%;
        height: auto;
    }
}

/* RESOLUCION CARD MEDIA 530px */
    @media screen and (max-width:530px){
        .logo{
            height: 80px;
        }
        .form-text{
            width: 80%;
        }
        .form-data{
            width: 80%;
        }
        .btn-envio{
            width: 60%;
        }
        .contact-style{
            width: 85%;
        }
    }
/* FINALIZA RESPONSIVE 530px */     

/* RESOLUCION CARD MEDIA 368px */
    @media screen and (max-width:600px){
        .wsp{
            height: 300px;
        }
        footer{
            height: 50px;
        }
        /* .cards{
            width: 85%;
        } */
        .info{
            width: 80%;
            margin: 10px auto;
        }

        .location{
            margin: 2px 10px;
        }
        .wsp{
            width: 90%;
            display: flex;
            flex-direction: column;
            /* height: 450px; */
            height: auto;
        }
    }
/* FINALIZA RESPONSIVE 368px */ 

/* RESOLUCION CARD MEDIA 310px */
@media screen and (max-width: 310px){
    

    .footer-center{
        display: flex;
        flex-direction: column;
    }
}
/* FINALIZA RESPONSIVE 368px */ 

/* RESOLUCION CARD MEDIA 280px */
    @media screen and (max-width: 280px){
        .logo{
            height: auto;
        }
        .nav-contacto{
            width: 90%;
        }
        .dire-location{
            font-size: 18px;
        }
    }
/* FINALIZA RESPONSIVE 280px */ 